:root {
    --bg-color: #222;
    --text-color: #eee;  
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}


textarea {
    background-color: #013c12;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 18px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

h1 {
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;  
    padding: 10px;
    cursor: pointer;
}

select, input[type="text"] {
    background-color: var(--bg-color);
    color: var(--text-color);  
    border: 1px solid var(--secondary-color);
    padding: 5px;
}




.button_run_orchestrator_loop {
    background-color: rgb(255, 167, 100); 
    color: black; 
    border: 3px solid #e4dfe6;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 34px;
    margin: 6px 6px;
    cursor: pointer;
  }
  
  .button_run_orchestrator_loop:hover {
    background-color: #89af4c;
    color: white;
  }
  


.button_update_config {
    background-color: rgb(100, 255, 154); 
    color: black; 
    border: 3px solid #e4dfe6;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 34px;
    margin: 6px 6px;
    cursor: pointer;
  }
  
  .button_update_config:hover {
    background-color: #afa04c;
    color: white;
  }



  .button_save_config {
    background-color: rgb(255, 201, 100); 
    color: black; 
    border: 3px solid #e4dfe6;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 34px;
    margin: 6px 6px;
    cursor: pointer;
  }
  
  .button_save_config:hover {
    background-color: #151162;
    color: white;
  }