{% extends "layout.html" %}
{% block title %}AI Agent{% endblock %}

{% block head %}
 
{% endblock %}


{% block leftside %}
<form id="configForm" method="POST" action="/save_agent">
    
<label for="o<form id="configForm" method="POST" action="/save_agent">
    rchestratorModel">Orchestrator Model:</label>
<select id="orchestratorModel" name="orchestrator_model" required>
    <option value="claude-3-sonnet-20240229">Claude v3 sonnet $$$</option>
    <option value="claude-3-opus-20240229">Claude v3 opus $$$$</option>
    <option value="claude-3-haiku-20240307">Claude v3 haiku $</option>
    <option value="gemini-1.5-pro-latest">google gemini 1.5-pro $</option>
</select>
<br>
<label for="refinerModel">Refiner Model:</label>  
<select id="refinerModel" name="refiner_model" required>
    <option value="claude-3-opus-20240229">Claude v3 opus $$$$</option>
    <option value="claude-3-sonnet-20240229">Claude v3 sonnet $$$</option>
    <option value="claude-3-haiku-20240307">Claude v3 haiku $</option>
    <option value="gemini-1.5-pro-latest">google gemini 1.5-pro $</option>
</select>
<br>
<label for="subagentModel">Sub-Agent Model:</label>
<select id="subagentModel" name="subagent_model" required>
    <option value="gemini-1.5-pro-latest">google gemini 1.5-pro $</option>
    <option value="claude-3-opus-20240229">Claude v3 opus $$$$</option>
    <option value="claude-3-sonnet-20240229">Claude v3 sonnet $$$</option>
    <option value="claude-3-haiku-20240307">Claude v3 haiku $</option>
</select>
<br>
<label for="orchestration_strategy">Orchestration Strategy:</label>
<select id="orchestrationStrategy" name="orchestration_strategy" required>  
    <option value="IterativeRefinement">IterativeRefinement</option>
</select>
<br>
<label for="name">Name:</label>
<input type="text" id="name" name="name" required>
<label for="task_iter">task_iter:</label>
<input type="text" id="task_iter" name="task_iter" value="3">
<label for="refine_iter">refine_iter:</label>
<input type="text" id="refine_iter" name="refine_iter" value="2">
<br>
<button class="button_save_config">Save Config</button>
</h2>
<label for="objective">Objective:</label>
<br>
<textarea rows="20" cols="80" id="objective" name="objective" required></textarea>

</form>
{% endblock %}

